@page "/login"
@using ToDoApp.Klassen
@inject ApplicationDbContext DbContext

<h3>Login</h3>

@* Hier wurde Beispielhaft eine Eingabemaske ohne Komponenten der Radzen Bibliothek umgesetzt, um zu demonstrieren wie man eine Eigene Komponente erstellen könnte*@
<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <label>Name</label>
    <InputText @bind-Value="loginModel.Username" placeholder="Username" />
    <br />
    <br />
    <label>Passwort</label>
    <InputText @bind-Value="loginModel.Password" type="password" placeholder="Password" />
    <br />
    <br />
    <button type="submit" onclick="@HandleLogin()" class="m-3 p-3 col-1">Login</button>
</EditForm>

<p>@loginMessage</p>

@code {
    private Userclass loginModel = new Userclass();
    private string? loginMessage;

    /// <summary>
    /// Überprüft ob der Name bereits in der Datenbank vorhanden ist. Wenn kein Nutzer gefunden wurde, oder ein falsches Passwort eingegeben wurde, wird die Nachricht angezeigt, dass entweder Nutzername oder das Passwort falsch sind.
    /// Dies wird gemacht, um den Datenschutz zu gewährleisten.
    /// Existiert ein Nutzer und es wurde das richtige Passwort für diesen eingegeben, So wird der Nutzer eingeloggt.
    /// </summary>
    /// <returns></returns>
    private async Task HandleLogin()
    {
        Userclass? registeredUser = DbContext.Userclasses.Where(u => u.Username == loginModel.Username).FirstOrDefault();
        if (registeredUser != null)
        {
            if (registeredUser.Password == loginModel.Password)
            {
                loginMessage = "Login successful!";
            }
            else
            {
                loginMessage = "Invalid username or password.";
            }
        }
        else
        {
            loginMessage = "Invalid username or password.";
        }
    }
}