@using ToDoApp.Pages;
@inherits LayoutComponentBase

<PageTitle>To-Dino</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    @*Hier ist der Navigationsbereich, welcher am oberen Rand angezeigt wird*@
    <main class="page-background-class">
        <div class="top-row px-4">
            <div class="m-3">
                <button type="button" @onclick="() => showLoginPrompt = true">Login</button>
            </div>
            <div class="m-3">
                <button type="button" @onclick="() => showRegisterPrompt = true">Register</button>
            </div>
        </div>

        @if (showLoginPrompt)
        {
            <LoginComponent />
        }
        @if (showRegisterPrompt)
        {
            <RegisterComponent />
        }
        <div>
            <article class="content px-4">
                @Body
            </article>
        </div>
            <RadzenDialog @rendermode="@RenderMode.InteractiveServer" />
    </main>
</div>

@code {
    public bool showLoginPrompt;
    public bool showRegisterPrompt;
}
