@using ToDoApp.Klassen
@using ToDoApp.Pages;
@inherits LayoutComponentBase
@inject Userclass Userclass
@inject NavigationManager NavigationManager;

<PageTitle>To-Dino</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    @*Hier ist der Navigationsbereich, welcher am oberen Rand angezeigt wird*@
    <main class="page-background-class">
        <div class="top-row px-4">
            <div class="m-3">
                <p>Eingeloggt als: @Userclass.Username</p>
            </div>
            <div class="m-3">
                <button type="button" @onclick="() => Logout = true">Logout</button>
            </div>
        </div>

        @if (Logout)
        {
            Userclass.Username = "";
            Userclass.Password = "";
            Userclass.isLoggedIn = false;
            NavigationManager.NavigateTo("/", true);
        }
        <div>
            <article class="content px-4">
                @Body
            </article>
        </div>
            <RadzenDialog @rendermode="@RenderMode.InteractiveServer" />
    </main>
</div>

@code {
    public bool Logout;
}
