/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container for the entire board */
.board {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px !important;
    padding: 20px !important;
    justify-content: space-between;
    position: relative;
    font-size: 13px;
}

/* Column styles */
.column {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px !important;
    width: auto !important;
    min-height: 400px;
    display: in-flex;
    flex-direction: column;
    min-width: fit-content;
    overflow: scroll;
}

    .column.not-started {
        background-color: #ffffe0; /* Light yellow */
    }

    .column.started {
        background-color: #e0f7ff; /* Light blue */
    }

    .column.completed {
        background-color: #e0ffe0; /* Light green */
    }

    .column.delete {
        background-color: #ffe0e0; /* Light red */
        width: 250px;
    }

    .column h2 {
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }

/* Task card styles */
.task {
    background-color: #ff9100; /* inray Orange */
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

    .task:hover {
        background-color: #c0d7ff; /* Slightly darker blue on hover */
    }

    .task.task0 {
        background-color: #d0e7ff; /* Light blue */
    }

    .task.task1 {
        background-color: #d0e7ff; /* Light blue */
    }

    .task.task2 {
        background-color: #e0ffe0; /* Light green */
    }

    .task.task3 {
        background-color: #d0e7ff; /* Light blue */
    }

    .task.task4 {
        background-color: #d0e7ff; /* Light blue */
    }

.page-background-class {
    background-image: url(../Resources/DinoLogo2.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: inherit !important;
    background-position: center !important;
    background-color: midnightblue !important;
}

.left-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    left: -25px;
}

.right-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1rem;
    right: 0px; /* Angeben um die Elemente am rechten Hand anzuzeigen, weil der Parent-Div die Position: relative hat */
    align-items: flex-end; /* Stellt sicher, dass die Container am rechten Rand ausgerichtet sind */
}

.mid-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 80px;
    right: 750px;
    align-items: center; /* Stellt sicher, dass die Container am rechten Rand ausgerichtet sind */
    background-color: moccasin;
    border-style: solid !important;
}

.modal-container {
    display: inline-table !important;
    width: fit-content !important;
    background-size: auto !important;
    overflow: auto !important;
}